body { background:#e6e6eb; font-family: Tahoma, Helvetica, Arial, Verdana, Sans Serif, "Microsoft YaHei"; font-size: 30px; padding:0;margin:0;-webkit-text-size-adjust: none;
}
a { text-decoration:none;}
a img{ border:0;}
ul,li { margin:0;padding:0;}
.wrapper { padding:28px; margin:0 auto;}

.topblock { 
    background:#eff0f2;
    padding:10px 0 0 20px;
    -moz-column-count:4;
    -webkit-column-count:4;
    column-count:4;
    -moz-column-gap:10px;
    -webkit-column-gap:10px;
    column-gap:10px;
    box-shadow: 0px 2px 2px #ccc;
    border:1px solid #c8c8d4;
    border-radius:10px;
    margin-bottom:5px;
}
.topblock li {margin-bottom:15px; }
.topblock li a{color:#646482; }
.topblock li a img{ margin-right:5px; position:relative; top:4px; left:1px;}

.accordion { position:relative;}
section.placeHolder { border:3px dashed #ccc;position: relative; }
.accordion section
{
	background: -moz-linear-gradient(top, #e6e6eb 0%, #eff0f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6eb), color-stop(100%,#eff0f2));
	background: -webkit-linear-gradient(top, #e6e6eb 0%,#eff0f2 100%);
	background: -o-linear-gradient(top, #e6e6eb 0%,#eff0f2 100%);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px #ccc;
    border-radius:10px;
    margin-bottom:5px;
    z-index:9998;
    width:100%;
    position: relative; 
    -webkit-user-select:none;
}

.accordion h2{
    height:84px;
    margin: 0;
    padding-left:40px;
    background: -moz-linear-gradient(top, #f0f1f4 0%, #ededf1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f1f4), color-stop(100%,#ededf1));
	background: -webkit-linear-gradient(top, #f0f1f4 0%,#ededf1 100%);
	background: -o-linear-gradient(top, #f0f1f4 0%,#ededf1 100%);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
    box-shadow: 0px 2px 5px #ccc;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
.accordion h2 label { font-size:30px;color:#646482; font-weight:normal;display:block;height:87px;line-height:87px;}
.accordion h2 i { display:block; position:absolute;left:-4px; width:19px; height:87px;background: url(../images/gear.png) no-repeat;}
.accordion h2 b { display:block;display:block; position:absolute;top:25px;right:40px;width:34px; height:34px;overflow:hidden;}
.accordion h2 b span{ display:block; width:24px; height:24px;background:#656383;position:absolute;top:5px;right:22px;
                  transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                box-shadow: 0px 2px 5px #3f3e5b inset;
}

.accordion h2.hover { 
    /*background: -moz-linear-gradient(top, #052c86 0%, #0498ff 50%);*/
	background:-webkit-gradient(linear,left bottom,right top,color-stop(59%,#0498ff),color-stop(100%,#052c86));
    background:-webkit-linear-gradient(85deg,#0498ff 59%,#052c86 100%);
	/*background: -webkit-linear-gradient(top, #052c86 0%,#0498ff 50%);*/
	/*background: -o-linear-gradient(top, #052c86 0%,#0498ff 50%);*/
}
.accordion h2.hover label{ color:#fff;}
.accordion h2.hover b { display:block;display:block; position:absolute;top:25px;right:40px;width:34px; height:34px;overflow:hidden;}
.accordion h2.hover b span{ display:block; width:24px; height:24px;background:#fff;position:absolute;top:5px;right:22px;
                  transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -moz-transform: rotate(45deg); 
                box-shadow: 0px 2px 10px #bcfeff;
}

.accordion h2 + div
{
    max-height: 0;
    overflow: hidden;
    -moz-transition: max-height 0.3s ease-in-out;
    -webkit-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
}

/*.accordion :target h2 a:after
{        
    margin-top: -3px;
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}


.accordion :target h2:after { position: absolute; right: 10px; top: 0; }
.accordion :target h2 { 
    background: -moz-linear-gradient(top, #f0f1f4 0%, #ededf1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f1f4), color-stop(100%,#ededf1));
	background: -webkit-linear-gradient(top, #f0f1f4 0%,#ededf1 100%);
	background: -o-linear-gradient(top, #f0f1f4 0%,#ededf1 100%);
}
.accordion :target h2.hover a { color: #646482; }
.accordion :target h2 b { display:block;display:block; position:absolute;top:35px;right:45px;width:34px; height:34px;overflow:hidden;}
.accordion :target h2 b span{ display:block; width:24px; height:24px;background:#656383;position:absolute;top:-11px;right:5px;
                  transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                box-shadow: 0px 2px 5px #3f3e5b inset;
}

.accordion :target h2 + div
{
    max-height:9999px;
}*/

.table { width: 100%; border-spacing: 0; border-collapse: collapse; table-layout:fixed; }
.table td { text-align:center; height:80px;border:1px dashed #d6d6dc;}
.table td.first { border-left:0;}
.table td.last { border-right:0;}
.table td.top { border-top:0;}
.table td.bottom { border-bottom:0;}
.table td a { color:#000;}
.table td a.blue { color:#009cff;}
.table td a:hover { color:#f00;}
.table td.hover { background:#0498ff;}
.table td.hover a{  color:#fff;}

.blue {color:#009cff; }
